.color_main {
    background: #DBD3C9;
}

.color_accent-1 {
    background: #B4CEB3;
}

.color_accent-2 {
    background: #88A0A8;
}

.color_accent-3 {
    background: #546A76;
}

.color_accent-4 {
    background: #FAD4D8;
}